/* --------- */
/* Variables */
/* --------- */


:root {
    --ff-primary: 'Raleway', sans-serif;

    --clr-purple-dark: #5D5FEF;
    --clr-purple-medium: #A5A6F6;
    --clr-purple-light: #CCCDF9;
    --clr-red: #EB5757;
    --clr-green: #27AE60;
    --clr-black: #333333;
    --clr-grey-medium: #828282;
    --clr-grey-light: #BDBDBD;
    --clr-grey-white: #F2F2F2;

}

header {
    background-color: #5D5FEF;
}

.back-arrow {
    height: 2vh;
    min-height: 20px;
    margin-left: 15px;
}

.logo {
    height: 2vh;
    min-height: 40px;
}

.menu-burguer {
    height: 2vh;
    min-height: 35px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


body {
    font-family: var(--ff-primary);
    background-color: var(--clr-grey-white);
    margin:0px;
}

h2 {
    color: var(--clr-purple-dark);
    text-align: center;
}

p{
    margin-bottom:8px;
}

.display-none {
    display: none !important;
}


form{
    margin:auto;
    width:80vw;
}



span {
    position: relative;
    right: 72%;
    font-size: 12px;    
}

.textOnTop {
    position: relative;
    right: 72%;
    bottom: 13px;
    font-size: 0.5em;
}

input,
select {
    line-height: 30px;
    width: 72%;
    margin-top: 10px;
    border: 1px solid var(--clr-grey-light);
    border-radius: 5px;
    font-family: var(--ff-primary);  
}

#emailValidationMessage{
    font-size: 8px;
    color:red;
}

.restrictionsBox{
    margin-left:15px;
}

#safetyBar {
    position: relative;
}

#safetyBarFront {
    position: absolute;
    top: 0px;
    left: 0px;
    min-width: 40px;
    height: 5px;
    border-radius: 15px;
}

#safetyBarBack {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 200px;
    background-color: lightgray;
    height: 5px;
    z-index: -1;
}

.terms-box{
    display:flex;
    flex-wrap: wrap; 
    align-items: center;  
    margin:10px;
}

#termsCheckbox{
    width:20px;
    margin:0px;
}

#SignUpButton {
    display:block;
    margin:auto;
    width:80%;
    background-color: var(--clr-purple-dark);
    color: #ffffff;
    border-radius: 5px;
    height: 56px;
    border: 0px solid transparent;
    font-family: var(--ff-primary);
    font-size: 16px;
}

#backHomeButton{
    display:block;
    margin:auto;
    width:80%;
    background-color: var(--clr-purple-dark);
    color: #ffffff;
    border-radius: 5px;
    height: 56px;
    border: 0px solid transparent;
    font-family: var(--ff-primary);
    font-size: 16px;
}

#accountCreatedImg{
    width:350px;
    margin:auto;
    margin:20px;

}

.radio_label {
    font-size: 12px;
    font-weight: bold;
    line-height: 1.1;
}

strong{
    color: var(--clr-purple-dar

